
/* Icons from Icomoon */

@font-face {
  font-family: 'deling';
  src:url('data:application/font-woff;base64,d09GRgABAAAAAAw4AAsAAAAAC+wAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxICVmNtYXAAAAFoAAAAVAAAAFQaVsyOZ2FzcAAAAbwAAAAIAAAACAAAABBnbHlmAAABxAAACBAAAAgQLN9/lmhlYWQAAAnUAAAANgAAADYHbbvBaGhlYQAACgwAAAAkAAAAJAfCA81obXR4AAAKMAAAADAAAAAwIEkAiGxvY2EAAApgAAAAGgAAABoKKAfCbWF4cAAACnwAAAAgAAAAIAASAJ1uYW1lAAAKnAAAAXoAAAF6ftLvOHBvc3QAAAwYAAAAIAAAACAAAwAAAAMDJQGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA5gcDwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEADgAAAAKAAgAAgACAAEAIOYH//3//wAAAAAAIOYA//3//wAB/+MaBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQA2AAACJAO3ABcAAAEVIyIHBh0BMwcjESMRIzUzNTQ3NjMyFwIkWjEREacWka+Skjs8Y1QuA7CXFBUpbKn+TgGyqXxrOjsHAAAAAAQAEgAAA5oDtwBBAGAAjQCaAAABFBcWFxYXFhcWFRQHBgcGIyInJicmNTQ3Njc2NyYnJjU0NwYjIicmNTQ3Njc2NzY7AQcjFhcWFRQHBgcGBwYHBhUnMjc2NzY1NCcmJyYnJiMiBwYHBhUUFxYXFhcWFxYzEzI3Njc2NzY1NCcmJyYnJicmJyYnJicmJyYjIgcGBwYHBgcGFRQXFhcWFxYzATMVIxUjNSM1MzUzFQGkEhMaGhkaEhMcKU9QW0tCQSEVGhkqS5wSCQkMGg1UOjoUFSQsPD1A7k5LKhYVDg4TFBQUDg5TFRcXDx4KCRISHx4kGBgXDhsGBgwMEhEZGh4BIR4fGhoQDwQEBAQLCwYGEBAFBRMTAgkSHh4eHyAYGA8PFBQgICQkJQHPeXk8eno8AfAVExQTExcXJSQtMzBFISEYFzcjKC4oJxsuCxgSEhgUHAI3N1UvLCwfJRMSMiQoKDQpISEUFBEREhMTNwkKDyE6ISYnIyQYFwsLEyI6Gh0eHR4XFw8P/g0HCA8PGhskDg4NCwoNDgYHDQ0EAw4OAQEEBAoLEBAaGyIoHh8REAkIAfU+fX0+fHwAAAEAGQBJA54DJQA7AAABBgcWFRQHBgcGBwYHBiMiJxYzMjcmJyYnFjMyNyYnJj0BFhcmJyY1NDcWFxYXJjU0NzYzMhc2NwYHNjcDnic2ARYWLCw9PlZWYpuBFBmAZTwwLxITEBkYQCoqJywmFhYZRWNjcgU2Nk1QNj83Fjw2NQLOOCgIEEpKSkRENDUfH1MCTwEjJDgDBg0zMkMCFQIZKSgwMitVMzQFFRVNNjY7DCFCJAYXAAIAAAAABAADJQAgAE0AAAERFAcGIyEiJyY1ERYXFhcWFxYXFjsBMjc2NzY3Njc2NzUUBwYHBgcGBwYHBgcGBwYrASInJicmJyYnJicmJyYnJicmNTQ3NjMhMhcWFQQAGxsl/LYlGxsZIc9NIBUUIiEdAh0hIhQVIGG8IBkcHCrXNAYSEwwNEREQDw0CDQ8QERENDBMSBjRiYRQjIB8YFywDSiUbGwIh/jolGxsbGyUBxhwWjDkYDQ4ODg4ODg0YR34XG6gtKSkdliQEDg0ICQoKBQUFBQoKCQgNDgQkREQOGCoqJCweHhsbJgAAAQAnAAACSQO3ADAAACUXBgcGBwYnJicmJyYnJjURIzU2NzY3Njc2NzY3NDc2OwEVMxUjERQXFhcWFxY3NjcCGy4NMjMyPDEyICAWFgoJYCkhIBQTDg0GBgMCAgOLvr8EBAkJExMcLCC/hxQSEQEBEBAaGiMiIiMhATd6DxkZGxogIBgZGgMCAvKQ/tgSDg8PEAgJAQEPAAABAAAAAALbA7cAcgAAEzQ3Njc2NzY3NjMyFxYXFhUUBwYHBgcGBwYjIicmJwYHBgcGBwYHBgcGBwYPAScmNTQ3Njc2NyY1NDc2MzIXFhUUBwYVFBcWMzI3Njc2NzY3Njc2NTQnJiMiBwYVFBcWFxYXFhUUBwYjIicmJyYnJicmNQAVFiYlMTI4OTtaTk0xMAoLGBciIjExOycmJhEFCwoDAwkIBwYMDA4PFQgFCAwMGhoEEx4eLSMUExkZGhklHxsbEhIODggHBAQ/PmVyTUwHBwgJBwcJCA0BCR0WFwwMBwYCYj03NygpHR4PDyYmSUhcNzQ1MDElJRYWExIgFioqDQwcHA0MFxgVFRwDBlkSNUFCYmMRJjsvKioXFyQmR0ckJBgXDg4ZGB4eISIeHhtiODdKSnIZGBcODQ0MBRAaGgIJFxgeHx8fHgAAAAUAAP+3BAADtwAUACUANgBvAJAAAAEWBwYjIicmNzYzMhcWMzI3NjMyFycUBwYjIicmNTQ3NjMyFxYVMxQHBiMiJyY1NDc2MzIXFhU3NCcmIyIHJic3FxQXFjMyNzY1NCcmIyIHJyYPAQYHJiMiBwYVFBcWFwYVFBcWMzI3NjU0JzY3NjUXFAcGBwYHBiMiJyYnJicmNTQ3Njc2NzYzMhcWFxYXFhUCcgkJJE5OJAkJBAUFAxxFRRwDBQUEsA8OFhUPDw8PFRYOD+IPDxUWDg8PDhYVDw+PFBQcHRRLZyRyDw8VFQ8QEA8VHw9+CwMoZkoUHhwUFAoLEQNQUHFxUFAEEQoKzSkoRURfX2hoX19ERSgpKShFRF9faGhfX0RFKCkBHAkJIyMJCQMDHBwDA2cVDw4ODxUWDw8PDxYVDw4ODxUWDw8PDxZFHBQUFTQDohoVDw8QDxUVDw8cHAMMswQzFRQUHBQREAkPEVE6OTk6URMOCBEQFBFoX19ERSkoKClFRF9faGhfX0RFKCkpKEVEX19oAAAAAAMAAAAbA24DYgAEABYAOgAAExEjETM3FgcGKwEiJyY1NDc2MzIXFhUBESMRNCcmIyIHBgcGFREjNjU0LwEzFSM2NzY3Njc2MzIXFhXHvLwMAR0eMAEvHB0dHi8wHB0Cm7wXGDEkGBgMB7wCAQG8AQwMDBQUHh0kYjs8AlL9yQI3ryocHBwcKiocGxscKv5f/rsBLzwiIhMUHREe/sTkjo4bHFMTDQ4QEAkJQUF9AAAAAQAAAAEAACCT1cdfDzz1AAsEAAAAAADSJzurAAAAANInO6sAAP+3BAADtwAAAAgAAgAAAAAAAAABAAADwP/AAAAEAAAAAAAEAAABAAAAAAAAAAAAAAAAAAAADAQAAAAAAAAAAAAAAAIAAAACSQA2A7cAEgO3ABkEAAAAAkkAJwLbAAAEAAAAA24AAAAAAAAACgAUAB4ARAEiAXwB8gI+AuQDsAQIAAAAAQAAAAwAmwAFAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAAYAAAABAAAAAAACAAcAVwABAAAAAAADAAYAMwABAAAAAAAEAAYAbAABAAAAAAAFAAsAEgABAAAAAAAGAAYARQABAAAAAAAKABoAfgADAAEECQABAAwABgADAAEECQACAA4AXgADAAEECQADAAwAOQADAAEECQAEAAwAcgADAAEECQAFABYAHQADAAEECQAGAAwASwADAAEECQAKADQAmGRlbGluZwBkAGUAbABpAG4AZ1ZlcnNpb24gMS4wAFYAZQByAHMAaQBvAG4AIAAxAC4AMGRlbGluZwBkAGUAbABpAG4AZ2RlbGluZwBkAGUAbABpAG4AZ1JlZ3VsYXIAUgBlAGcAdQBsAGEAcmRlbGluZwBkAGUAbABpAG4AZ0ZvbnQgZ2VuZXJhdGVkIGJ5IEljb01vb24uAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=') format('woff');
  font-weight: normal;
  font-style: normal;
}

.deling-icon {
  font-family: 'deling';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.deling-color.network-facebook {
  color: #3a5795;
}

.deling-color.network-twitter {
  color: #55aaee;
}

.deling-color.network-linkedin {
  color: #007ab6;
}

.deling-color.network-pinterest {
  color: #c92027;
}

.deling-color.network-google-plus {
  color: #da4f46;
}

.deling-color.network-reddit {
  color: #000;
}

.deling-color.network-tumblr {
  color: #34465d;
}

.deling-color.network-mail {
  color: #000;
}

.deling-icon-envelope:before {
  content: "\e603";
}
.deling-icon-tumblr:before {
  content: "\e604";
}
.deling-icon-pinterest-p:before {
  content: "\e605";
}
.deling-icon-reddit:before {
  content: "\e606";
}
.deling-icon-linkedin:before {
  content: "\e607";
}
.deling-icon-twitter:before {
  content: "\e602";
}
.deling-icon-google-plus:before {
  content: "\e601";
}
.deling-icon-facebook:before {
  content: "\e600";
}

